---
import ProjectContainer from "@/components/project/ProjectContainer.svelte";
import Layout from "@/layouts/Layout.astro";
import projects from "@/data/projects.json";
---

<Layout title="Project" description="Project">
  <main class="flex w-full items-center bg-primary text-white">
    <div class="flex flex-col">
      <h1 class="ml-[40px] flex text-5xl font-extrabold">Project</h1>
      <ProjectContainer projects={projects} client:load />
    </div>
  </main>
</Layout>
