<section
  class="flex h-screen w-screen flex-col items-center justify-center bg-gradient-to-b from-black to-indigo-950 text-6xl font-bold text-white"
>
  <p class="my-3">Information System</p>
  <p class="my-3">Development</p>
</section>
<section class="flex h-screen flex-col items-center justify-center bg-black">
  <img src="./src/assets/isd_logo.svg" class="w-80" alt="logo" />
  <div
    class="flex max-w-xl flex-col items-center justify-center text-center text-white"
  >
    <p class="my-12 text-4xl font-bold">What is ISD?</p>
    <p class="text-md">
      ฝ่ายพัฒนาระบบสารสนเทศ (Information System Development - ISD)
      เป็นฝ่ายภายใต้องค์การบริหารสโมสรนิสิตจุฬาฯ (อบจ.) ที่มีหน้าที่ร่วมมือกับ
      อบจ. และองค์กรต่าง ๆ ในจุฬาฯ เพื่อพัฒนาระบบเว็บไซต์ แอปพลิเคชัน
      และระบบสารสนเทศอื่น ๆ ที่อำนวยความสะดวก และเป็นประโยชน์ต่อนิสิตจุฬาฯ
    </p>
  </div>
</section>
