---
import Layout from "@/layouts/Layout.astro";

import ISDLogo from "@/assets/isd_logo.svg";
import { Image } from "astro:assets";
import Members from "@/components/member/Members.svelte";

const fetchOrgMembers = async () => {
  try {
    const res = await fetch(
      "https://api.github.com/orgs/isd-sgcu/public_members",
    );
    const data = await res.json();
    return data;
  } catch (err) {
    console.error(err);
  }
};
const orgMembers = await fetchOrgMembers();
---

<Layout title="Home" description="Main page">
  <section
    class="flex h-screen w-screen -translate-y-12 flex-col items-center justify-center overflow-hidden bg-gradient-to-b from-black to-indigo-950 text-4xl font-bold text-white md:text-6xl lg:-translate-y-32"
  >
    <!-- pink -->
    <div
      class="absolute left-32 top-44 aspect-square w-24 animate-sliding-left rounded-full bg-pink-600 duration-100"
    >
    </div>
    <div
      class="duration-50 absolute -right-32 bottom-0 aspect-square w-64 animate-sliding-right rounded-full bg-pink-600"
    >
    </div>
    <!-- blue -->
    <div
      class="absolute -right-80 -top-80 aspect-square h-[600px] animate-sliding-right rounded-full ring-[64px] ring-indigo-800"
    >
    </div>
    <div
      class="absolute -bottom-16 -left-24 aspect-square w-64 animate-sliding-left rounded-full ring-[32px] ring-indigo-800 sm:visible"
    >
    </div>
    <div
      class="absolute -bottom-32 right-1/4 aspect-square w-48 animate-sliding-up rounded-full ring-[28px] ring-blue-700"
    >
    </div>
    <!-- text -->
    <span class="grid place-content-center"> </span>
    <p class="z-10 leading-[120px] tracking-wide">Information System</p><p
      class="z-10"
    >
      Development
    </p>
  </section>
  <section
    class="flex h-screen w-screen -translate-y-12 flex-col items-center justify-center bg-black lg:-translate-y-32"
  >
    <Image src={ISDLogo} class="w-60 lg:w-80" alt="logo" />
    <div
      class="flex max-w-xl flex-col items-center justify-center text-center text-white"
    >
      <p class="my-12 text-4xl font-bold">What is ISD?</p>
      <p class="text-md">
        ฝ่ายพัฒนาระบบสารสนเทศ (Information System Development - ISD)
        เป็นฝ่ายภายใต้องค์การบริหารสโมสรนิสิตจุฬาฯ (อบจ.) ที่มีหน้าที่ร่วมมือกับ
        อบจ. และองค์กรต่าง ๆ ในจุฬาฯ เพื่อพัฒนาระบบเว็บไซต์ แอปพลิเคชัน
        และระบบสารสนเทศอื่น ๆ ที่อำนวยความสะดวก และเป็นประโยชน์ต่อนิสิตจุฬาฯ
      </p>
    </div>
  </section>
  <Members OrgMembers={orgMembers} />
</Layout>
