---
import Layout from "@/layouts/Layout.astro";

import ISDLogo from "@/assets/isd_logo.svg";
import { Image } from "astro:assets";
import Members from "@/components/member/Members.svelte";

const fetchOrgMembers = async () => {
  try {
    const res = await fetch(
      "https://api.github.com/orgs/isd-sgcu/public_members",
    );
    const data = await res.json();
    return data;
  } catch (err) {
    console.error(err);
  }
};
const orgMembers = await fetchOrgMembers();
---

<Layout title="Home" description="Main page">
  <section
    class="flex h-screen w-screen -translate-y-12 flex-col items-center justify-center overflow-hidden bg-gradient-to-b from-black to-indigo-950 text-4xl font-bold text-white md:text-6xl lg:-translate-y-32"
  >
    <!-- pink -->
    <div
      class="absolute left-16 top-16 aspect-square w-24 animate-sliding-left rounded-full bg-pink-600 duration-100 lg:left-32 lg:top-44"
    >
    </div>
    <div
      class="duration-50 absolute -right-16 bottom-16 aspect-square w-32 animate-sliding-right rounded-full bg-pink-600 lg:-right-32 lg:bottom-0 lg:w-64"
    >
    </div>
    <!-- blue -->
    <div
      class="absolute -right-32 -top-24 aspect-square h-[240px] animate-sliding-right rounded-full ring-[32px] ring-indigo-800 lg:-right-80 lg:-top-1/4 lg:h-[600px] lg:ring-[64px]"
    >
    </div>
    <div
      class="absolute -bottom-12 -left-16 aspect-square w-48 animate-sliding-left rounded-full ring-[32px] ring-indigo-800 sm:visible lg:-bottom-16 lg:-left-24 lg:w-64"
    >
    </div>
    <div
      class="absolute -bottom-8 right-[10%] aspect-square w-24 animate-sliding-up rounded-full ring-[12px] ring-blue-700 lg:-bottom-32 lg:right-1/4 lg:w-48 lg:ring-[28px]"
    >
    </div>
    <!-- text -->
    <span class="grid place-content-center"> </span>
    <p class="z-10 leading-[120px] tracking-wide">Information System</p><p
      class="z-10"
    >
      Development
    </p>
  </section>
  <section
    class="flex h-screen w-screen -translate-y-12 flex-col items-center justify-center bg-black lg:-translate-y-32"
  >
    <Image src={ISDLogo} class="w-60 lg:w-80" alt="logo" />
    <div
      class="flex max-w-xl flex-col items-center justify-center text-center text-white"
    >
      <p class="my-12 text-4xl font-bold">What is ISD?</p>
      <p class="text-md">
        ฝ่ายพัฒนาระบบสารสนเทศ (Information System Development - ISD)
        เป็นฝ่ายภายใต้องค์การบริหารสโมสรนิสิตจุฬาฯ (อบจ.) ที่มีหน้าที่ร่วมมือกับ
        อบจ. และองค์กรต่าง ๆ ในจุฬาฯ เพื่อพัฒนาระบบเว็บไซต์ แอปพลิเคชัน
        และระบบสารสนเทศอื่น ๆ ที่อำนวยความสะดวก และเป็นประโยชน์ต่อนิสิตจุฬาฯ
      </p>
    </div>
  </section>
  <Members members={orgMembers} />
</Layout>
