---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" description="">
  <main class="flex h-screen flex-col items-center justify-center">
    <h1 class="text-3xl font-bold">Hello Astro</h1>
  </main>
</Layout>
