---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Join" description="Join ISD">
  <div class="relative w-screen overflow-hidden">
    <div
      class="lg:bg-lg-[url('recruitBackground.svg')] flex aspect-[4/3] w-screen bg-[url('recruitMobileBackground.svg')] bg-cover bg-bottom px-4 lg:aspect-[27/10]"
    >
      <div
        class="font-['Space Grotesk'] mb-6 ml-4 mt-auto flex w-max text-2xl font-bold text-white lg:mb-20 lg:ml-6 lg:text-[64px]"
      >
        ISD66 Recruitment
      </div>
    </div>
  </div>
  <div class="block h-fit w-screen gap-4 bg-black pb-10 pt-5 text-white">
    <div
      class="flex w-full border-b-2 border-neutral-500 p-4 text-white hover:text-neutral-500 lg:px-10 lg:pb-9 lg:pt-8"
    >
      <div class="font-'Space Grotesk' text-xl font-normal lg:text-4xl">
        Front-end Development
      </div>
      <div
        class="font-'Space Grotesk' ml-auto pl-2 text-xl font-normal lg:text-4xl"
      >
        Learn More
      </div>
    </div>
    <div
      class="flex w-full border-b-2 border-neutral-500 p-4 text-white hover:text-neutral-500 lg:px-10 lg:pb-9 lg:pt-8"
    >
      <div class="font-'Space Grotesk' text-xl font-normal lg:text-4xl">
        Back-end Development
      </div>
      <div
        class="font-'Space Grotesk' ml-auto pl-2 text-xl font-normal lg:text-4xl"
      >
        Learn More
      </div>
    </div>
    <div
      class="flex w-full border-b-2 border-neutral-500 p-4 text-white hover:text-neutral-500 lg:px-10 lg:pb-9 lg:pt-8"
    >
      <div class="font-'Space Grotesk' text-xl font-normal lg:text-4xl">
        Project Manager
      </div>
      <div
        class="font-'Space Grotesk' ml-auto pl-2 text-xl font-normal lg:text-4xl"
      >
        Learn More
      </div>
    </div>
    <div
      class="flex w-full border-b-2 border-neutral-500 p-4 text-white hover:text-neutral-500 lg:px-10 lg:pb-9 lg:pt-8"
    >
      <div class="font-'Space Grotesk' text-xl font-normal lg:text-4xl">
        UX-UI Designer
      </div>
      <div
        class="font-'Space Grotesk' ml-auto pl-2 text-xl font-normal lg:text-4xl"
      >
        Learn More
      </div>
    </div>
    <div
      class="flex w-full border-b-2 border-neutral-500 p-4 text-white hover:text-neutral-500 lg:px-10 lg:pb-9 lg:pt-8"
    >
      <div class="font-'Space Grotesk' text-xl font-normal lg:text-4xl">
        DevOps Enginner
      </div>
      <div
        class="font-'Space Grotesk' ml-auto pl-2 text-xl font-normal lg:text-4xl"
      >
        Learn More
      </div>
    </div>
    <div
      class="flex w-full border-b-2 border-neutral-500 p-4 text-white hover:text-neutral-500 lg:px-10 lg:pb-9 lg:pt-8"
    >
      <div class="font-'Space Grotesk' text-xl font-normal lg:text-4xl">
        Mobile App Developer
      </div>
      <div
        class="font-'Space Grotesk' ml-auto pl-2 text-xl font-normal lg:text-4xl"
      >
        Learn More
      </div>
    </div>
  </div>
</Layout>
