---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Recruit">
  <div class="relative w-screen overflow-hidden">
    <div class="flex w-screen aspect-[4/3] px-4 lg:aspect-[27/10] bg-bottom bg-cover bg-[url('/public/recruitMobileBackground.svg')] lg:bg-lg-[url('/public/recruitBackground.svg')]">
      <div class="flex w-max ml-4 lg:ml-6 mt-auto mb-6 lg:mb-20 text-white text-2xl lg:text-[64px] font-bold font-['Space Grotesk']">
        ISD66 Recruitment
      </div>
    </div>
  </div>
  <div class="w-screen text-white h-fit pb-10 pt-5 bg-black gap-4 block">
    <div class="w-full p-4 lg:px-10 lg:pt-8 lg:pb-9 flex border-b-2 border-neutral-500 text-white hover:text-neutral-500">
      <div class="text-xl lg:text-4xl font-normal font-'Space Grotesk'">
        Front-end Development
      </div>
      <div class="ml-auto lg:text-4xl pl-2 text-xl font-normal font-'Space Grotesk'">
        Learn More
      </div>
    </div>
    <div class="w-full p-4 lg:px-10 lg:pt-8 lg:pb-9 flex border-b-2 border-neutral-500 text-white hover:text-neutral-500">
      <div class="text-xl lg:text-4xl font-normal font-'Space Grotesk'">
        Back-end Development
      </div>
      <div class="ml-auto lg:text-4xl pl-2 text-xl font-normal font-'Space Grotesk'">
        Learn More
      </div>
    </div>
    <div class="w-full p-4 lg:px-10 lg:pt-8 lg:pb-9 flex border-b-2 border-neutral-500 text-white hover:text-neutral-500">
      <div class="text-xl lg:text-4xl font-normal font-'Space Grotesk'">
        Project Manager
      </div>
      <div class="ml-auto lg:text-4xl pl-2 text-xl font-normal font-'Space Grotesk'">
        Learn More
      </div>
    </div>
    <div class="w-full p-4 lg:px-10 lg:pt-8 lg:pb-9 flex border-b-2 border-neutral-500 text-white hover:text-neutral-500">
      <div class="text-xl lg:text-4xl font-normal font-'Space Grotesk'">
        UX-UI Designer
      </div>
      <div class="ml-auto lg:text-4xl pl-2 text-xl font-normal font-'Space Grotesk'">
        Learn More
      </div>
    </div>
    <div class="w-full p-4 lg:px-10 lg:pt-8 lg:pb-9 flex border-b-2 border-neutral-500 text-white hover:text-neutral-500">
      <div class="text-xl lg:text-4xl font-normal font-'Space Grotesk'">
        DevOps Enginner
      </div>
      <div class="ml-auto lg:text-4xl pl-2 text-xl font-normal font-'Space Grotesk'">
        Learn More
      </div>
    </div>
    <div class="w-full p-4 lg:px-10 lg:pt-8 lg:pb-9 flex border-b-2 border-neutral-500 text-white hover:text-neutral-500">
      <div class="text-xl lg:text-4xl font-normal font-'Space Grotesk'">
        Mobile App Developer
      </div>
      <div class="ml-auto lg:text-4xl pl-2 text-xl font-normal font-'Space Grotesk'">
        Learn More
      </div>
    </div>
  </div>
</Layout>
